// Classes for tool icons in datatable Options column
.button-container {
    opacity: 0;
    /* Initialy hidden */
    transition: opacity 0.3s ease-in-out;
    /* Fade Effect */
}

// Custom clases for datatables
$table-hover-bg: rgba($black, 0.0);
.table-hover {
    tbody tr {
        @include hover() {
            color: $table-hover-color;
            background-color: rgba(0, 0, 0, 0.035);
        }
    }
}
table.dataTable.table-hover > tbody > tr:hover > * {
    box-shadow: none;
}
tr:hover .button-container {
    // Shows the options cells
    opacity: 1;
}
table.table.dataTable.budget-details-table {
    margin-top: 0px !important;
    thead {
        tr {
            background-color: $gray-500;
            color: $white;
            th {
                border-bottom: 0;
                text-transform: uppercase;
                font-weight: normal;
                line-height: 1em;
                padding-top: 1.3em;
                padding-bottom: 1.3em;
            }
        }
    }
    tbody {
        // Tables for budget details
        tr.main-category-row {
            background-color: $gray-400;
            font-weight: bold;
            font-size: calc(1em + 1px);
        }
        tr.sub-category-row {
            background-color: $gray-200;
            font-weight: bold;
            td {
                padding-left: 2em;
            }
        }
    }
}



// Classes for elements "contenteditable"
.content-editable {
    @extend .form-control;
    cursor: text;
    background: none;
    border-color: transparent;
    min-width: 100px;

    &:hover {
        background: $white;
        border-color: $gray-400
    }
}



// Extending modal

@include media-breakpoint-up(xxl) {
    .modal-xxl {
        max-width: none;
    }
}

// I don't know why it is adding a right padding as inline style.
// I did this to fix it.
.modal {
    padding-right: 17px !important;
    padding-left: 17px !important;
}